footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #f8f9fa;
  z-index: 1000;
}


footer .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


